name: E2E Testes e Allure Report
on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]
  workflow_dispatch:
jobs:
  e2e-test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - name: Enviando para a máquina virtual
        uses: actions/checkout@v4

      - name: Instalando Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Instalando dependências
        run: npm install

      - name: Instalando Playwright e dependências do navegador
        run: npx playwright install --with-deps

      - name: Rodando os testes
        run: npx playwright test

      - name: Gerando relatório Allure Report
        run: npx allure generate allure-results --clean -o allure-report

      - name: Publicar Allure Report no GitHub Pages
        if: always()
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./allure-report
          publish_branch: gh-pages

      - name: Upload do relatório Allure Report
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: allure-report
          path: allure-report/
          retention-days: 30
